<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافة مهمة جديدة مع صورة</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/all.min.css" />
  </head>
  <body>
    <form class="imaged-form">
      <div>
        <label>ادخل مهمة جديدة</label>
        <input class="note" type="text" autofocus required />
      </div>

      <div>
        <button class="img-upload">
          ارفاق صورة <i class="far fa-images"></i>
        </button>
      </div>
      <div class="url-image">
        <label>او ادخل رابط الصورة</label>
        <input type="url" class="url-image__input" />
      </div>

      <button type="submit">
        اضافة مهمة جديدة <i class="fas fa-plus"></i>
      </button>
    </form>
    <script src="../assets/js/imagedScript.js"></script>
  </body>
</html>
