<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اضافة مهمة جديدة</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/all.min.css" />
  </head>
  <body>
    <form class="timed-form">
      <div class="note-txt">
        <label>ادخل مهمة جديدة</label>
        <input class="note" type="text" autofocus required />
      </div>
      <h1>ذكرني بها بعد</h1>
      <div class="time-pick">
        <div>
          <label>ساعة</label>
          <input type="number" value="0" class="pick-hours" required />
        </div>
        <div>
          <label>دقايق</label>
          <input type="number" value="0" class="pick-minutes" required />
        </div>
      </div>
      <button type="submit">
        اضافة مهمة جديدة <i class="fas fa-plus"></i>
      </button>
    </form>
    <script src="../assets/js/timedScript.js"></script>
  </body>
</html>
